
.frame {
    width: 600px;
    height: 150px;
    overflow: hidden;
    position: relative;
    border: 2px solid black;
    margin-top: 10%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.led-text {
    position: absolute;
    white-space: nowrap;
    animation: moveRightToLeft 10s linear infinite;
}

.light {
    width: 10px;
    height: 10px;
    margin: 1px 1px;
    text-align: center;
    font-size: 15px;
    float: left;
    border-radius: 50%;
}

.off {
    background-color: #000000;
}

.on {
    background-color: #0ff;
    box-shadow: 0px 0px 5px #0ff;
}

@keyframes moveRightToLeft {
    0% {
        right: -100%;
    }

    100% {
        right: 100%;
    }
}

.TEXT_LED {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px; /* Add margin top for spacing */
}

.TEXT_LED p {
    margin-right: 10px; /* Adjust margin between label and input */
}

.TEXT_LED input {
    padding: 5px; /* Add padding to input */
}
